<ion-view title="LocalReads Login" hide-nav-bar="true" hide-back-button="true">
    <ion-content back-img="img/bookstack.jpg">
            <form class="css-form card" style="background-color: transparent;">
                <div class="padding-top">
                    <button id="loginButton" class="button button-block button-positive" type="button" ng-click="loginGoogle()">
                        Sign in with Google+
                    </button>
                </div>
            </form>
    </ion-content>
</ion-view>


