<ion-view title="Search for Books to Add">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <div class="bar bar-subheader">
        <div class="bar bar-header item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-ios7-search placeholder-icon"></i>
                <input id="searchTextField"
                       type="search"
                       placeholder="Title / Author / etc"
                       ng-model="searchResultsModel.searchQuery">
                <i class="icon ion-looping" ng-show="isSearching == true"></i>
            </label>
            <button class="button button-clear button-positive"
                    ng-show="searchResultsModel.searchQuery"
                    ng-click="searchResultsModel.searchQuery =''">
                x
            </button>
        </div>
    </div>
  <ion-content class="has-header has-subheader">
          <div class="list">
              <span class="item item-thumbnail-left slide-in-left"
                    on-tap='addToShelf(book)'
                    ng-repeat="book in searchResultsModel.searchResults | filterSearch">
                  <img ng-src="{{book.volumeInfo.imageLinks.smallThumbnail}}" />
                  <h2>{{book.volumeInfo.title}}</h2>
                  <p>{{book.volumeInfo.authors[0]}}</p>
              </span>
          </div>
  </ion-content>
</ion-view>
