<ion-view title="Local Reads">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header has-footer">
      <form>
          <div class="card">
              <label class="item item-input">
                  <span class="input-label">Username</span>
                  <input type="text" ng-model="userModel.user.userName" disabled />
              </label>
              <label class="item range range-positive">
                  <span class="input-label">Search Radius (km): {{userModel.user.searchRadius}}</span>
                  <input type="range" ng-model="userModel.user.searchRadius" name="volume" min="1" max="25" value="2" />
              </label>
          </div>
          <div class="card">
              <label class="item">
                  <button type="button"
                          class="button button-block button-positive"
                          ng-click="setCurrentLocation()">
                      Set Location to Current Position
                  </button>
              </label>

              <label class="item item-input">
                  <span class="input-label">Latitude :</span>
                  <input type="number" ng-model="userModel.user.latitude" />
              </label>
              <label class="item item-input">
                  <span class="input-label">Longitude :</span>
                  <input type="number" ng-model="userModel.user.longitude" />
              </label>
          </div>
          <div class="card">
              <label class="item">
                  <button id="settingsSaveButton"
                          class="button button-block button-balanced"
                          ng-disabled="!settingsDirty"
                          type="button" ng-click="save()">
                      Save
                  </button>
              </label>
          </div>
          {{$scope.settingsMessage}}
      </form>
  </ion-content>
</ion-view>
