<div class="modal" xmlns="http://www.w3.org/1999/html">
    <content scroll="true">
        <div class="list">
            <label class="item item-input-wrapper row">
                <span class="input-label col">Place</span>
                <!--<input class="item-calm col"
                       ng-model="autocomplete"
                       details="settingsModel.details"
                       ng-autocomplete="settingsModel.autoCompleteResults"/>-->

                <input class="item-calm col"
                       ng-model="settingsModel.placeName"
                       googleplace/>
            </label>
            <label class="item item-text-wrap row">
                <small>
                    Place selection requires internet / data connection. Select from the drop-down to make sure the latitude and
                    longitude information below gets updated.
                </small>
            </label>
            <label class="item item-input-wrapper row">
                <span class="input-label col">Latitude</span>
                <input class="item-calm col" ng-model="userModel.user.latitude"/>
            </label>

            <label class="item item-input-wrapper row">
                <span class="input-label col">Longitude</span>
                <input class="item-calm col" ng-model="userModel.user.longitude"/>
            </label>
            <div align="center" class="row">
                <button class="button button-block" ng-click="closePlace()">Close</button>
            </div>
        </div>
    </content>
</div>